.ava:visited .userName, .userName:visited, .thisEmbedLink:visited h6
{
	color: inherit !important;
}

.likeButton a.like.counter
{
	color: #0C8FC8 !important;
	font-weight: bold !important;
	font-size: 15px !important;
}

.backgroundChanged .epicBtnContainer
{
	height: 0px !important;
}

.backgroundChanged .bgShadow
{
	display:none !important;
}

.backgroundChanged .screenGlide{
	position: absolute;
	top:440px;
	height:1200px;
	width:100%;
}

.backgroundChanged .screenGlideContent{
	height: 1200px;
	background-position: center center;
}

.backgroundChanged .mainPage
{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.backgroundChanged .page-content-grid{

}

/* Обновленная тень и фон */
.page-feature-main{
    background: #fff !important;
}

.b-page-content__body{
    box-shadow: 0 0 30px rgba(0,0,0,0.5) !important;
    background: none !important;
}

.page-feature-usefull{
    background:none !important;
}

.backgroundChanged .reviewHeader
{
	margin-bottom: 0px !important;
}

.backgroundChanged .page-feature-incut{
	margin-top:40px;
}

.backgroundChanged .page-feature-incut .page-feature-incut--content{
	/*max-width:1920px;*/
	margin:0 auto;
	/*box-shadow:0 0 10px rgba(0,0,0,0.8);*/
}

.backgroundChanged .footer
{
	padding-left: 40px;
	padding-right: 40px;
	background-position: 40px 20px !important;
}

.backgroundChanged .profileGames,
.backgroundChanged .profileFriends
{
	display: block;
	padding-left: 40px !important;
	margin-left: -40px !important;
	overflow: hidden !important;
	width: 960px !important;
	padding-right: 40px !important;
}

.backgroundChanged .arrow.next
{
	margin-left: 475px !important;
}

.backgroundChanged .arrow.prev
 {
	margin-right: 475px !important;
 }
 
.backgroundChanged .tabs
 {
	margin-top: 20px !important;
}

.box-header.pub--main-header{
    margin:25px 0 25px 0;
}

.page-content{
   background: none !important;
}

/* Правки фона для "полезных блоков" */
.backgroundChanged .usefull-blocks>.box{
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
    background: #f5f5f5;
}

.backgroundChanged .usefull-blocks>.box .box-header span {
    border: 3px solid #e6e6e6;
}

/* Изменение цвета заголовка паба */
.backgroundChanged .pub--main-header a{
    color: #fcfcfc !important;
}

/* Увеличен размер шрифта табов на главной */
.backgroundChanged .matrix .tabs i,
.backgroundChanged .matrix .tabs b,
.backgroundChanged .matrix .tabs span 
{ 
	font: 14px/18px "Arial",sans-serif !important;
}

/* Обновленный фон */
.b-page-content{
    background-size: cover !important;
}

.container{
    background-size: cover !important;
}

.container .wrapContent{
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}


/* Сетка */
/*.backgroundChanged .newsBlock{
    height: 450px;
}*/

/* Вопли */
.shoutHead{
    background-color: #000 !important;
}

.shoutsWrap .messageShoutBtn{
    background-color: #fcfcfc !important;
}

.shoutsItem.active, .backgroundChanged .shoutsItem.headerIcon.active:hover {
    background-color: #c0392b !important;
}

.shouts-footer{
    background-color: #000 !important;
}

.shouts.sideBar .shoutMessage.shoutWrite{
    background-color: #e74c3c !important;
}

.shoutMessage.shoutWrite .shout-form--field{
    border: 3px solid #c0392b !important;
}

.shouts.sideBar .shoutMessage.shoutWrite:before {
    border-bottom:10px solid #E74C3C !important;
}

/* Разное */

.friendHighlight2 img
{
	border: 4px solid rgba(0,178,5,0.5) !important;
	margin-bottom: -8px;
}
.friendHighlight img
{
	outline: 4px solid rgba(0,178,5,0.5);
}
.people > ul > li > a img {
    border: 4px solid rgba(0,0,0,0);
}

#video-download-links
{
	font: 15px/15px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
	margin-top: 10px;
}

#video-download-links a
{
	color: #3B6D96;
	border-bottom: 1px dotted #3B6D96;
}

#comments .comment
{
	-webkit-transition: All 1s;
}

#refresh-comments-float
{
	font: bold 15px/15px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
	color: #3B6D96;
	border-bottom: 1px dotted #3B6D96;
}

#refresh-comments-wrap
{
	padding: 10px 0;
	margin: 10px 0;
	position: relative;
	width: 100%;
	background: #efefef;
}

#refresh-comments
{
	margin-left: 45px;
	margin-top: 10px;
	font: bold 15px/15px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
	color: #3B6D96;
	border-bottom: 1px dotted #3B6D96;
}

#settings-back
{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.2);
	z-index: 99999;
}

#settings-panel
{
	position: fixed;
	background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
	padding: 40px;
	width: 600px;
}

#settings-panel .controls
{
	margin-bottom: 20px;
	overflow-y: auto;
}

#settings-panel .controls > div
{
	margin-bottom: 7px;
	font: 13px/22px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
}

#settings-panel input
{
	vertical-align: -2px;
	margin-right: 5px;
}

#settings-panel h2
{
	font: bold 22px/26px "PT Sans",helvetica,"segoe UI",arial,sans-serif;	
	margin-top: 0;
}

.wrapProfileInfo .nameMail .userName,
.wrapProfileInfo .nameMail .userMail
{
	display: block;
	float: none;
	clear: both;
}

#settings-btn
{
    display: block;
	font: 13px/14px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
	margin-top: 4px;
	float: left;
	color: rgba(255,255,255,0.6);
	border-bottom: 1px dotted #3B6D96;
    transition:color 300ms ease;
}
#settings-btn:hover{
    color: rgba(255,255,255,1);
}

#settings-cancel,
#settings-save
{
	font: bold 15px/15px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
	color: #3B6D96;
	border-bottom: 1px dotted #3B6D96;
}

#settings-cancel
{
	margin-left: 20px;
	color: #a2a2a2;
	border-bottom: 1px dotted #a2a2a2;
}

/* Меню */

.hBtns>li.articles>a,
.hBtns>li.pub>a {
	background: none !important;
	color: #fff;
	font: 10px/9px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
	text-align: center;
}
.hBtns>li.articles>a>i,
.hBtns>li.pub>a>i {
	background: url('http://static.kanobu.ru/i/other/menuItemIcons.png') no-repeat;
	background-position: 100% -20px;
	width: 37px;
	height: 20px;
	display: inline-block;
	margin-top: 7px;
	margin-left: 7px;
}

.hBtns>li.articles>a {
	width: 50px;
}

.hBtns>li.articles>a>i {
	background-position: 100% -60px;
	width: 50px;
	height: 20px;
	margin-left: 0px;
}

.hBtns>li.pub.long>a {
	width: 55px;
}

.hBtns>li.pub.long>a>i {
	width: 55px;
	background-position: 8px -20px;
}

.header {
	width: 1000px !important;
}

.headerIcons .header form {
	margin-right: 20px !important;
}

.hBtns>li.articles.last {
	margin-right: 10px;
}

.hBtns>li.epic {
	margin-right: 10px;
}

.headerIcons .hBtns>li.faq {
	display: none;
}

.headerIcons .header .allMenuBtn {
	margin-right: 20px;
}

.headerIcons .header > .hBtns .kf_pubIcon, 
.headerIcons .header > .hBtns .kf_customMenu {
	display: none;
}

/* Фильтр */

ul.filter2 li {
	float: left;
	position: relative;
	width: auto;
	overflow: visible;
	white-space: nowrap;
	height: 22px;
	color: #4d4d4d;
	margin: 0 1px 0 0;
	background: #efefef;
	background: linear-gradient(to bottom,#efefef 0,#d5d5d5 80%,#e3e3e3 100%);
	background: -webkit-linear-gradient(top,#efefef 0,#d5d5d5 80%,#e3e3e3 100%);
}
ul.filter2 {
	width: auto!important;
	float: right;
	overflow: hidden;
	font: normal normal 13px/22px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
	margin: 7px 0 0;
	padding: 1px;
	border-bottom: 1px solid #e6e6e6;
	background: #cbcbcb;
	background: linear-gradient(to bottom,rgba(203,203,203,1) 0,rgba(154,154,154,1) 100%);
	background: -webkit-linear-gradient(top,rgba(203,203,203,1) 0,rgba(154,154,154,1) 100%);
}
ul.filter2 li a:hover {
	color: #002433;
}
ul.filter2 li a {
	display: block;
	position: relative;
	height: 21px;
	line-height: 20px;
	border-top: 1px solid #fff;
	color: #4d4d4d;
	text-shadow: 0 1px #fff;
	padding: 0 10px;
	text-decoration: none;
}
ul.filter2 li a:hover:after {
	content: "";
	display: block;
	background: rgba(0,137,196,.1);
	position: absolute;
	width: 100%;
	height: 100%;
	left: -1px;
	top: 0;
	padding: 0 1px 2px;
	z-index: 2;
}

ul.filter2 li:last-child, ul.filter2 li.last {
	margin-right: 0;
}
ul.filter2 li.isSelected a, ul.filter2 li.isSelected a:hover {
	cursor: default;
	border-top: 1px solid #000;
	color: #fff;
	text-shadow: 0 1px #4d4d4d;
	height: 23px;
}
ul.filter2 li.isSelected {
	background: url('http://static.kanobu.ru/i/gamesList/menuSelectedBg.png') repeat-x 0 -48px;
	z-index: 1;
	margin: -1px 0 -1px -1px;
	padding: 0 1px;
	height: 24px;
	filter: none;
}

.video-download-wrap {
	background: #fff;
	border: 10px solid rgba(0,91,217,0.1);
	padding: 20px;
	width: 500px;
	font: 13px/22px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
}

/* Кнопка "Вверх" */
#scroll-top-btn,
#scroll-video-btn,
#scroll-article-btn,
#scroll-pub-btn{
	-webkit-transition: All 0.6s;
    width:80px;
    height:80px;
	padding: 20px 10px 10px 10px;
    opacity: 0;
    position:fixed;
	z-index:30;
    bottom:113px;
    left:0px;
	font: normal normal 13px/42px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
	text-align:center;
    background:#efefef;
}

#scroll-video-btn,#scroll-article-btn, #scroll-pub-btn{
	height:auto !important;
	padding:10px !important;
	bottom:80px !important;
	line-height:13px !important;
	opacity: 0.8 !important;
}

#scroll-video-btn:hover, #scroll-article-btn:hover, #scroll-pub-btn:hover{
	opacity: 1 !important;
}

#scroll-article-btn{
    bottom:47px !important;
}

#scroll-pub-btn{
    bottom:14px !important;
}

#scroll-top-btn span{
	font-size: 40px;
	display: block;
}

#scroll-top-btn:hover{
	opacity: 0.6 !important;
}



/* Корректировка бага с неправильным z-index надписи "пост удален" */
li.userMessageBlock.removeItem.deletedItem{z-index: 1 !important;}

/* @ для ответа в воплях */
.flow-reply {
	color: #e2e2e2 !important;
	-webkit-transition: All 0.6s;
	font: bold 15px/1.3 "PT Sans",helvetica,"segoe UI",arial,sans-serif;
	display: inline-block;
	padding: 0 5px 0 0;
	margin-top: -1px;
}

.flow-reply.flow-reply-comments {
	float: left;
}

.flow-reply.flow-reply-comments-whom {
	padding: 0 5px 0 5px;
}

.flow-reply:hover {
	color:#3B6D96 !important;
}

.flow-reply-shouts {
	margin-left: 11px;
	top: -5px;
	margin-top: 0px;
	position: relative;
}

.flow-reply-arrow {
	float: left;
	margin-left: 5px;
}