.ava:visited .userName, .userName:visited, .thisEmbedLink:visited h6
{
	color: inherit !important;
}

.likeButton a.like.counter
{
	color: #0C8FC8 !important;
	font-weight: bold !important;
	font-size: 15px !important;
}

.backgroundChanged .screenGlide
{
	min-height: 40px !important;
}

.backgroundChanged .screenGlideContent
{
	background: #efefef;
	background-attachment: fixed !important;
	width: 100% !important;
	height: 100% !important;
	position: fixed !important;
}

.backgroundChanged .bgShadow
{
	display:none !important;
}

.backgroundChanged .container .wrapContent
{
	box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
	background: #fff !important;
	padding-top: 10px !important;
	min-height: 1000px;
}

.backgroundChanged .container
{
	margin: 0 auto -175px !important;
}

.backgroundChanged .footer
{
	padding-left: 40px;
	padding-right: 40px;
	background-position: 40px 20px !important;
}

.backgroundChanged .profileGames,
.backgroundChanged .profileFriends
{
	display: block;
	padding-left: 40px !important;
	margin-left: -40px !important;
	overflow: hidden !important;
	width: 960px !important;
	padding-right: 40px !important;
}

.backgroundChanged .arrow.next
{
	margin-left: 475px !important;
}

.backgroundChanged .arrow.prev
 {
	margin-right: 475px !important;
 }
 
.backgroundChanged .tabs
 {
	margin-top: 20px !important;
}

/* Фикс для кнопки канобу */
.logoBtn:hover
{ 
	width: 79px !important;
	z-index: 30 !important;
}

.logoBtn
{
	width:71px !important;	
}

/* Увеличен размер шрифта табов на главной */
.backgroundChanged .matrix .tabs i,
.backgroundChanged .matrix .tabs b,
.backgroundChanged .matrix .tabs span 
{ 
	font: 14px/18px "Arial",sans-serif !important;
}

/* Разное */

.friendHighlight2 img
{
	border: 4px solid rgba(0,178,5,0.5);
	margin-bottom: -8px;
}
.friendHighlight img
{
	outline: 4px solid rgba(0,178,5,0.5);
}

#comments .comment
{
	-webkit-transition: All 1s;
}

#refresh-comments-float
{
	font: bold 15px/15px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
	color: #3B6D96;
	border-bottom: 1px dotted #3B6D96;
}

#refresh-comments-wrap
{
	padding: 10px 0;
	margin: 10px 0;
	position: relative;
	width: 100%;
	background: #efefef;
}

#refresh-comments
{
	margin-left: 45px;
	margin-top: 10px;
	font: bold 15px/15px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
	color: #3B6D96;
	border-bottom: 1px dotted #3B6D96;
}

#settings-back
{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.9);
	z-index: 99999;
}

#settings-panel
{
	position: fixed;
	background: #fff;
	border: 10px solid rgba(0,91,217,0.1);
	padding: 20px;
	width: 500px;
}

#settings-panel .controls
{
	margin-bottom: 20px;
}

#settings-panel .controls > div
{
	margin-bottom: 7px;
	font: 13px/22px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
}

#settings-panel input
{
	vertical-align: -2px;
	margin-right: 5px;
}

#settings-panel h2
{
	font: bold 22px/26px "PT Sans",helvetica,"segoe UI",arial,sans-serif;	
	margin-top: 0;
}

#settings-btn
{
	font: 13px/22px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
}

#settings-cancel,
#settings-save
{
	font: bold 15px/15px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
	color: #3B6D96;
	border-bottom: 1px dotted #3B6D96;
}

#settings-cancel
{
	margin-left: 20px;
	color: #a2a2a2;
	border-bottom: 1px dotted #a2a2a2;
}

/* Меню */

.hBtns>li.articles>a,
.hBtns>li.pub>a {
	background: none !important;
	color: #fff;
	font: 10px/9px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
	text-align: center;
}
.hBtns>li.articles>a>i,
.hBtns>li.pub>a>i {
	background: url('http://static.kanobu.ru/i/other/menuItemIcons.png') no-repeat;
	background-position: 100% -20px;
	width: 37px;
	height: 20px;
	display: inline-block;
	margin-top: 7px;
	margin-left: 7px;
}

.hBtns>li.articles>a {
	width: 50px;
}

.hBtns>li.articles>a>i {
	background-position: 100% -60px;
	width: 50px;
	height: 20px;
	margin-left: 0px;
}

.headerIcons .header form {
	margin-right: 60px !important;
}

.hBtns>li.friends {
	margin-right: 10px;
}

.hBtns>li.articles.last {
	margin-right: 10px;
}

.headerIcons .hBtns>li.faq {
	display: none;
}

/* Фильтр */

ul.filter2 li {
	float: left;
	position: relative;
	width: auto;
	overflow: visible;
	white-space: nowrap;
	height: 22px;
	color: #4d4d4d;
	margin: 0 1px 0 0;
	background: #efefef;
	background: linear-gradient(to bottom,#efefef 0,#d5d5d5 80%,#e3e3e3 100%);
	background: -webkit-linear-gradient(top,#efefef 0,#d5d5d5 80%,#e3e3e3 100%);
}
ul.filter2 {
	width: auto!important;
	float: right;
	overflow: hidden;
	font: normal normal 13px/22px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
	margin: 7px 0 0;
	padding: 1px;
	border-bottom: 1px solid #e6e6e6;
	background: #cbcbcb;
	background: linear-gradient(to bottom,rgba(203,203,203,1) 0,rgba(154,154,154,1) 100%);
	background: -webkit-linear-gradient(top,rgba(203,203,203,1) 0,rgba(154,154,154,1) 100%);
}
ul.filter2 li a:hover {
	color: #002433;
}
ul.filter2 li a {
	display: block;
	position: relative;
	height: 21px;
	line-height: 20px;
	border-top: 1px solid #fff;
	color: #4d4d4d;
	text-shadow: 0 1px #fff;
	padding: 0 10px;
	text-decoration: none;
}
ul.filter2 li a:hover:after {
	content: "";
	display: block;
	background: rgba(0,137,196,.1);
	position: absolute;
	width: 100%;
	height: 100%;
	left: -1px;
	top: 0;
	padding: 0 1px 2px;
	z-index: 2;
}

ul.filter2 li:last-child, ul.filter2 li.last {
	margin-right: 0;
}
ul.filter2 li.isSelected a, ul.filter2 li.isSelected a:hover {
	cursor: default;
	border-top: 1px solid #000;
	color: #fff;
	text-shadow: 0 1px #4d4d4d;
	height: 23px;
}
ul.filter2 li.isSelected {
	background: url('http://static.kanobu.ru/i/gamesList/menuSelectedBg.png') repeat-x 0 -48px;
	z-index: 1;
	margin: -1px 0 -1px -1px;
	padding: 0 1px;
	height: 24px;
	filter: none;
}